{"swagger":"2.0","info":{"description":"IONOS Enterprise-grade Infrastructure as a Service (IaaS) solutions can be managed through the Cloud API, in addition or as an alternative to the \"Data Center Designer\" (DCD) browser-based tool. \n\n Both methods employ consistent concepts and features, deliver similar power and flexibility, and can be used to perform a multitude of management tasks, including adding servers, volumes, configuring networks, and so on.","version":"6.0","title":"CLOUD API","x-sdk-patch-level":5},"host":"api.ionos.com","basePath":"/cloudapi/v6","tags":[{"name":"/"},{"name":"Data centers"},{"name":"Locations"},{"name":"Servers"},{"name":"Images"},{"name":"Volumes"},{"name":"Snapshots"},{"name":"IP blocks"},{"name":"LANs"},{"name":"Network interfaces"},{"name":"Firewall rules"},{"name":"Flow Logs"},{"name":"Load Balancers"},{"name":"NAT Gateways"},{"name":"Network Load Balancers"},{"name":"Application Load Balancers"},{"name":"Target groups"},{"name":"Requests"},{"name":"Contract resources"},{"name":"User management"},{"name":"User S3 keys"},{"name":"Backup units"},{"name":"Kubernetes","description":"IONOS' Managed Kubernetes (K8s) consist of two central building blocks:\n\nFirst, the Kubernetes cluster provides the control plane, although it is not directly visible. \n\nSecond, the node pools provide the worker nodes. While these are visible in a VDC, as Kubernetes is built on top of the compute engine, i.e., servers, volumes, etc."},{"name":"Private Cross-Connects"},{"name":"Labels"},{"name":"Templates"}],"schemes":["https"],"paths":{"/":{"get":{"tags":["/"],"summary":"Get API information","description":"Retrieves the API information such as API version.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Info"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"operationId":"apiInfoGet"}},"/datacenters":{"get":{"tags":["Data centers"],"summary":"List your data centers","description":"List the data centers for your account. Default limit is the first 100 items; use pagination query parameters for listing more items.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Datacenters"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersGet"},"post":{"tags":["Data centers"],"summary":"Create a Data Center","description":"Creates new data centers, and data centers that already contain elements, such as servers and storage volumes.\n\nVirtual data centers are the foundation of the platform; they act as logical containers for all other objects you create, such as servers and storage volumes. You can provision as many data centers as needed. Data centers have their own private networks and are logically segmented from each other to create isolation.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"datacenter","description":"The data center to create.","required":true,"schema":{"$ref":"#/definitions/Datacenter"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Datacenter"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersPost"}},"/datacenters/{datacenterId}":{"get":{"tags":["Data centers"],"summary":"Retrieve data centers","description":"Retrieve data centers by resource ID. This value is in the response body when the data center is created, and in the list of the data centers, returned by GET.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Datacenter"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersFindById"},"put":{"tags":["Data centers"],"summary":"Modify a Data Center by ID","description":"Modifies the properties of the specified data center, rename it, or change the description.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"in":"body","name":"datacenter","description":"The modified data center.","required":true,"schema":{"$ref":"#/definitions/Datacenter"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Datacenter"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersPut"},"delete":{"tags":["Data centers"],"summary":"Delete data centers","description":"Delete the specified data center and all the elements it contains. This method is destructive and should be used carefully.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersDelete"},"patch":{"tags":["Data centers"],"summary":"Partially modify a Data Center by ID","description":"Updates the properties of the specified data center, rename it, or change the description.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"in":"body","name":"datacenter","description":"The properties of the data center to be updated.","required":true,"schema":{"$ref":"#/definitions/DatacenterProperties"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Datacenter"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersPatch"}},"/locations":{"get":{"tags":["Locations"],"summary":"Get Locations","description":"Retrieves the available physical locations where you can deploy cloud resources in a VDC. \n\n A location is identified by a combination of the following characters: \n\n * a two-character **regionId**, which represents a country (example: 'de') \n\n * a three-character **locationId**, which represents a city. The 'locationId' is typically based on the IATA code of the city's airport (example: 'txl'). \n\n >Note that 'locations' are read-only and cannot be changed.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Locations"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"locationsGet"}},"/locations/{regionId}":{"get":{"tags":["Locations"],"summary":"Get Locations within a Region","description":"Retrieves the available locations in a region specified by its ID. The 'regionId' consists of the two character identifier of the region (country), e.g., 'de'.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"regionId","in":"path","description":"The unique ID of the region.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Locations"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"locationsFindByRegionId"}},"/locations/{regionId}/{locationId}":{"get":{"tags":["Locations"],"summary":"Get Location by ID","description":"Retrieves the information about the location specified by its ID. The 'locationId' consists of the three-digit identifier of the city according to the IATA code.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"regionId","in":"path","description":"The unique ID of the region.","required":true,"type":"string"},{"name":"locationId","in":"path","description":"The unique ID of the location.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Location"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"locationsFindByRegionIdAndId"}},"/datacenters/{datacenterId}/servers":{"get":{"tags":["Servers"],"summary":"List servers ","description":"List all servers within the data center.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"name":"upgradeNeeded","in":"query","description":"Filter servers that can or that cannot be upgraded.","required":false,"type":"boolean"},{"$ref":"#/parameters/contractNumber"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Servers"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersGet"},"post":{"tags":["Servers"],"summary":"Create a Server","description":"Creates a server within the specified data center. You can also use this request to configure the boot volumes and connect to existing LANs at the same time.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"in":"body","name":"server","description":"The server to create.","required":true,"schema":{"$ref":"#/definitions/Server"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Server"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersPost"}},"/datacenters/{datacenterId}/servers/{serverId}":{"get":{"tags":["Servers"],"summary":"Retrieve servers by ID","description":"Retrieve information about the specified server within the data center, such as its configuration, provisioning status, and so on.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Server"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersFindById"},"put":{"tags":["Servers"],"summary":"Modify a Server by ID","description":"Modifies the properties of the specified server within the data center.\n\nStarting with v5, the 'allowReboot' attribute is retired; while previously required for changing certain server properties, this behavior is now implicit, and the backend will perform this automatically. For example, in earlier versions, when the CPU family is changed, 'allowReboot' had to be set to 'true'; this is no longer required, the reboot will be performed automatically.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"in":"body","name":"server","description":"The modified server","required":true,"schema":{"$ref":"#/definitions/Server"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Server"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersPut"},"delete":{"tags":["Servers"],"summary":"Delete servers","description":"Delete the specified server in your data center. The attached storage volumes will also be removed if the query parameter is set to true otherwise a separate API call must be made for these actions.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"},{"name":"deleteVolumes","in":"query","description":"If true, all attached storage volumes will also be deleted.","required":false,"type":"boolean"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersDelete"},"patch":{"tags":["Servers"],"summary":"Partially modify servers","description":"Update the properties of the specified server within the data center.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"in":"body","name":"server","description":"The properties of the server to be updated.","required":true,"schema":{"$ref":"#/definitions/ServerProperties"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Server"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersPatch"}},"/datacenters/{datacenterId}/servers/{serverId}/volumes":{"get":{"tags":["Servers"],"summary":"Get Attached Volumes","description":"Lists all volumes attached to the specified server.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/AttachedVolumes"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersVolumesGet"},"post":{"tags":["Servers"],"summary":"Attach a Volume to a Server","description":"Attachs an existing storage volume to the specified server.\n\nYou can attach an existing volume in the VDC to a server. To move a volume from one server to another, you must first detach the volume from the first server and attach it to the second server.\n\nIt is also possible to create and attach a volume in one step by simply providing a new volume description as a payload. The only difference is the URL; see 'Creating a Volume' for details about volumes.\n\nNote that the combined total of attached volumes and NICs cannot exceed 24 per server.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"in":"body","name":"volume","description":"The volume to be attached (or created and attached).","required":true,"schema":{"$ref":"#/definitions/Volume"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Volume"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersVolumesPost"}},"/datacenters/{datacenterId}/servers/{serverId}/volumes/{volumeId}":{"get":{"tags":["Servers"],"summary":"Get Attached Volume by ID","description":"Retrieves the properties of the volume attached to the specified server.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"name":"volumeId","in":"path","description":"The unique ID of the volume.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Volume"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersVolumesFindById"},"delete":{"tags":["Servers"],"summary":"Detach a Volume by ID","description":"Detachs the specified volume from the server.\n\nNote that only the volume's connection to the specified server is disconnected. If you want to delete the volume, you must submit a separate request to perform the deletion.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"name":"volumeId","in":"path","description":"The unique ID of the volume.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersVolumesDelete"}},"/datacenters/{datacenterId}/servers/{serverId}/cdroms":{"get":{"tags":["Servers"],"summary":"Get Attached CD-ROMs ","description":"Lists all CD-ROMs attached to the specified server.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Cdroms"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersCdromsGet"},"post":{"tags":["Servers"],"summary":"Attach a CD-ROM","description":"Attachs a CD-ROM to an existing server specified by its ID. \n\nCD-ROMs cannot be created stand-alone like volumes. They are either attached to a server or do not exist. They always have an ISO-Image associated; empty CD-ROMs can not be provisioned. It is possible to attach up to two CD-ROMs to the same server. \n\nNote that attaching a CD-ROM leads to a reset of the server.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"in":"body","name":"cdrom","description":"The CD-ROM to be attached.","required":true,"schema":{"$ref":"#/definitions/Image"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Image"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersCdromsPost"}},"/datacenters/{datacenterId}/servers/{serverId}/cdroms/{cdromId}":{"get":{"tags":["Servers"],"summary":"Get Attached CD-ROM by ID","description":"Retrieves the properties of the CD-ROM attached to the specified server.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"name":"cdromId","in":"path","description":"The unique ID of the CD-ROM.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Image"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersCdromsFindById"},"delete":{"tags":["Servers"],"summary":"Detach a CD-ROM by ID","description":"Detachs the specified CD-ROM from the server.\n\nDetaching a CD-ROM deletes the CD-ROM. The image will not be deleted.\n\nNote that detaching a CD-ROM leads to a reset of the server.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"name":"cdromId","in":"path","description":"The unique ID of the CD-ROM.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersCdromsDelete"}},"/datacenters/{datacenterId}/servers/{serverId}/reboot":{"post":{"tags":["Servers"],"summary":"Reboot servers","description":"Force a hard reboot of the specified server within the data center. Don't use this method if you wish to reboot gracefully. This is an equivalent of powering down a computer and turning it back on.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersRebootPost"}},"/datacenters/{datacenterId}/servers/{serverId}/start":{"post":{"tags":["Servers"],"summary":"Start an Enterprise Server by ID","description":"Starts the Enterprise Server specified by its ID.\n\n>Note that you cannot use this method to start a Cube Server.\n\nBy starting the Enterprise Server, cores and RAM are provisioned, and the billing continues.\n\nIf the server's public IPv4 address has been deallocated, a new IPv4 address will be assigned. IPv6 blocks and addresses will remain unchanged when stopping and starting a server.\n\nTo check the status of the request, you can use the 'Location' HTTP header in the response (see 'Requests' for more information).","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersStartPost"}},"/datacenters/{datacenterId}/servers/{serverId}/stop":{"post":{"tags":["Servers"],"summary":"Stop an Enterprise Server by ID","description":"Stops the Enterprise Server specified by its ID. \n\n>Note that you cannot use this method to stop a Cube Server.\n\n By stopping the Enterprise Server, cores and RAM are freed and no longer charged.\n\nPublic IPv4 IPs that are not reserved are returned to the IPv4 pool. IPv6 blocks and addresses will remain unchanged when stopping and starting a server.\n\nTo check the status of the request, you can use the 'Location' HTTP header in the response (see 'Requests' for more information).","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersStopPost"}},"/datacenters/{datacenterId}/servers/{serverId}/suspend":{"post":{"tags":["Servers"],"summary":"Suspend a Cube Server by ID","description":"Suspends the specified Cubes instance within the data center. \n\nThe instance is not deleted and allocated resources continue to be billed. You can perform this operation only for Cube Servers.\n\nTo check the status of the request, you can use the 'Location' HTTP header in the response (see 'Requests' for more information).","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersSuspendPost"}},"/datacenters/{datacenterId}/servers/{serverId}/resume":{"post":{"tags":["Servers"],"summary":"Resume a Cube Server by ID","description":"Resumes a suspended Cube Server specified by its ID.\n\nSince the suspended instance was not deleted the allocated resources continue to be billed. You can perform this operation only for Cube Servers.\n\nTo check the status of the request, you can use the 'Location' HTTP header in the response (see 'Requests' for more information).","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersResumePost"}},"/datacenters/{datacenterId}/servers/{serverId}/upgrade":{"post":{"tags":["Servers"],"summary":"Upgrade a Server by ID","description":"Upgrades the server version.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersUpgradePost"}},"/datacenters/{datacenterId}/servers/{serverId}/token":{"get":{"tags":["Servers"],"summary":"Get JASON Web Token","description":"Retrieve a JSON Web Token from the server for use in login operations (such as accessing the server's console).","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Token"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersTokenGet"}},"/datacenters/{datacenterId}/servers/{serverId}/remoteconsole":{"get":{"tags":["Servers"],"summary":"Get Remote Console link","description":"Retrieve a link with a JSON Web Token for accessing the server's Remote Console.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/RemoteConsoleUrl"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersRemoteConsoleGet"}},"/images":{"get":{"tags":["Images"],"summary":"List images","description":"List all the images within the data center.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Images"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"imagesGet"}},"/images/{imageId}":{"get":{"tags":["Images"],"summary":"Retrieve images","description":"Retrieve the properties of the specified image.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"imageId","in":"path","description":"The unique ID of the image.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Image"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"imagesFindById"},"put":{"tags":["Images"],"summary":"Modify an Image by ID","description":"Modifies the properties of the specified image.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"imageId","in":"path","description":"The unique ID of the image.","required":true,"type":"string"},{"in":"body","name":"image","description":"The modified image","required":true,"schema":{"$ref":"#/definitions/Image"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Image"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"imagesPut"},"delete":{"tags":["Images"],"summary":"Delete images","description":"Delete the specified image; this operation is only supported for private images.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"imageId","in":"path","description":"The unique ID of the image.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"imagesDelete"},"patch":{"tags":["Images"],"summary":"Partially modify images","description":"Update the properties of the specified image.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"imageId","in":"path","description":"The unique ID of the image.","required":true,"type":"string"},{"in":"body","name":"image","description":"The image properties to be updated.","required":true,"schema":{"$ref":"#/definitions/ImageProperties"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Image"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"imagesPatch"}},"/datacenters/{datacenterId}/volumes":{"get":{"tags":["Volumes"],"summary":"List volumes","description":"List all the volumes within the data center.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Volumes"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersVolumesGet"},"post":{"tags":["Volumes"],"summary":"Create a Volume","description":"Creates a storage volume within the specified data center. The volume will not be attached! Attaching volumes is described in the Servers section.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"in":"body","name":"volume","description":"The volume to create.","required":true,"schema":{"$ref":"#/definitions/Volume"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Volume"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersVolumesPost"}},"/datacenters/{datacenterId}/volumes/{volumeId}":{"get":{"tags":["Volumes"],"summary":"Retrieve volumes","description":"Retrieve the properties of the specified volume within the data center.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"volumeId","in":"path","description":"The unique ID of the volume.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Volume"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersVolumesFindById"},"put":{"tags":["Volumes"],"summary":"Modify a Volume by ID","description":"Modifies the properties of the specified volume within the data center.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"volumeId","in":"path","description":"The unique ID of the volume.","required":true,"type":"string"},{"in":"body","name":"volume","description":"The modified volume","required":true,"schema":{"$ref":"#/definitions/Volume"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Volume"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersVolumesPut"},"delete":{"tags":["Volumes"],"summary":"Delete volumes","description":"Delete the specified volume within the data center. Use with caution, the volume will be permanently removed!","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"volumeId","in":"path","description":"The unique ID of the volume.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersVolumesDelete"},"patch":{"tags":["Volumes"],"summary":"Partially modify volumes","description":"Update the properties of the specified storage volume within the data center.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"volumeId","in":"path","description":"The unique ID of the volume.","required":true,"type":"string"},{"in":"body","name":"volume","description":"The properties of the volume to be updated.","required":true,"schema":{"$ref":"#/definitions/VolumeProperties"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Volume"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersVolumesPatch"}},"/datacenters/{datacenterId}/volumes/{volumeId}/restore-snapshot":{"post":{"tags":["Volumes"],"summary":"Restore volume snapshots","description":"Restore a snapshot for the specified volume within the data center. A snapshot is an image of a volume, which can be used to restore this volume at a later time.","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"volumeId","in":"path","description":"The unique ID of the volume.","required":true,"type":"string"},{"name":"snapshotId","in":"formData","description":"The unique ID of the snapshot.","required":false,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersVolumesRestore-snapshotPost"}},"/datacenters/{datacenterId}/volumes/{volumeId}/create-snapshot":{"post":{"tags":["Volumes"],"summary":"Create volume snapshots","description":"Create a snapshot of the specified volume within the data center; this snapshot can later be used to restore this volume.","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"volumeId","in":"path","description":"The unique ID of the volume.","required":true,"type":"string"},{"name":"name","in":"formData","description":"Snapshot name","required":false,"type":"string"},{"name":"description","in":"formData","description":"Snapshot description","required":false,"type":"string"},{"name":"secAuthProtection","in":"formData","description":"Flag for enabling extra protection for this snapshot, such as two-step verification.","required":false,"type":"boolean"},{"name":"licenceType","in":"formData","description":"The OS type for this snapshot.","required":false,"type":"string","enum":["UNKNOWN","WINDOWS","WINDOWS2016","WINDOWS2022","LINUX","OTHER"]},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Snapshot"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersVolumesCreate-snapshotPost"}},"/snapshots":{"get":{"tags":["Snapshots"],"summary":"List snapshots","description":"List all available snapshots.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Snapshots"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"snapshotsGet"}},"/snapshots/{snapshotId}":{"get":{"tags":["Snapshots"],"summary":"Retrieve snapshots by ID","description":"Retrieve the properties of the specified snapshot.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"snapshotId","in":"path","description":"The unique ID of the snapshot.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Snapshot"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"snapshotsFindById"},"put":{"tags":["Snapshots"],"summary":"Modify a Snapshot by ID","description":"Modifies the properties of the specified snapshot.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"snapshotId","in":"path","description":"The unique ID of the snapshot.","required":true,"type":"string"},{"in":"body","name":"snapshot","description":"The modified snapshot","required":true,"schema":{"$ref":"#/definitions/Snapshot"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Snapshot"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"snapshotsPut"},"delete":{"tags":["Snapshots"],"summary":"Delete snapshots","description":"Deletes the specified snapshot.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"snapshotId","in":"path","description":"The unique ID of the snapshot.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"snapshotsDelete"},"patch":{"tags":["Snapshots"],"summary":"Partially modify snapshots","description":"Update the properties of the specified snapshot.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"snapshotId","in":"path","description":"The unique ID of the snapshot.","required":true,"type":"string"},{"in":"body","name":"snapshot","description":"The properties of the snapshot to be updated.","required":true,"schema":{"$ref":"#/definitions/SnapshotProperties"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Snapshot"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"snapshotsPatch"}},"/ipblocks":{"get":{"tags":["IP blocks"],"summary":"List IP blocks ","description":"List all reserved IP blocks.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limitDefault100"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/IpBlocks"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"ipblocksGet"},"post":{"tags":["IP blocks"],"summary":"Reserve a IP Block","description":"Reserves a new IP block.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"ipblock","description":"The IP block to be reserved.","required":true,"schema":{"$ref":"#/definitions/IpBlock"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/IpBlock"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"ipblocksPost"}},"/ipblocks/{ipblockId}":{"get":{"tags":["IP blocks"],"summary":"Retrieve IP blocks","description":"Retrieve the properties of the specified IP block.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"ipblockId","in":"path","description":"The unique ID of the IP block.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/IpBlock"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"ipblocksFindById"},"put":{"tags":["IP blocks"],"summary":"Modify a IP Block by ID","description":"Modifies the properties of the specified IP block.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ipblockId","in":"path","description":"The unique ID of the IP block.","required":true,"type":"string"},{"in":"body","name":"ipblock","description":"The modified IP block.","required":true,"schema":{"$ref":"#/definitions/IpBlock"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/IpBlock"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"ipblocksPut"},"delete":{"tags":["IP blocks"],"summary":"Delete IP blocks","description":"Remove the specified IP block.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"ipblockId","in":"path","description":"The unique ID of the IP block.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"ipblocksDelete"},"patch":{"tags":["IP blocks"],"summary":"Partially modify IP blocks","description":"Update the properties of the specified IP block.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ipblockId","in":"path","description":"The unique ID of the IP block.","required":true,"type":"string"},{"in":"body","name":"ipblock","description":"The properties of the IP block to be updated.","required":true,"schema":{"$ref":"#/definitions/IpBlockProperties"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/IpBlock"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"ipblocksPatch"}},"/datacenters/{datacenterId}/lans":{"get":{"tags":["LANs"],"summary":"List LANs","description":"List all LANs within the data center.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Lans"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansGet"},"post":{"tags":["LANs"],"summary":"Create LANs","description":"Creates a LAN within the data center.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"in":"body","name":"lan","description":"The LAN to create.","required":true,"schema":{"$ref":"#/definitions/Lan"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Lan"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansPost"}},"/datacenters/{datacenterId}/lans/{lanId}":{"get":{"tags":["LANs"],"summary":"Retrieve LANs","description":"Retrieve the properties of the specified LAN within the data center.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"lanId","in":"path","description":"The unique ID of the LAN.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Lan"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansFindById"},"put":{"tags":["LANs"],"summary":"Modify LANs","description":"Modify the properties of the specified LAN within the data center.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"lanId","in":"path","description":"The unique ID of the LAN.","required":true,"type":"string"},{"in":"body","name":"lan","description":"The modified LAN","required":true,"schema":{"$ref":"#/definitions/Lan"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Lan"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansPut"},"delete":{"tags":["LANs"],"summary":"Delete LANs","description":"Delete the specified LAN within the data center.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"lanId","in":"path","description":"The unique ID of the LAN.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansDelete"},"patch":{"tags":["LANs"],"summary":"Partially modify LANs","description":"Update the properties of the specified LAN within the data center.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"lanId","in":"path","description":"The unique ID of the LAN.","required":true,"type":"string"},{"in":"body","name":"lan","description":"The properties of the LAN to be updated.","required":true,"schema":{"$ref":"#/definitions/LanProperties"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Lan"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansPatch"}},"/datacenters/{datacenterId}/lans/{lanId}/nics":{"get":{"tags":["LANs"],"summary":"List LAN members","description":"List all NICs, attached to the specified LAN.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"lanId","in":"path","description":"The unique ID of the LAN.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/LanNics"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansNicsGet"},"post":{"tags":["LANs"],"summary":"Attach NICs","description":"Attach an existing NIC to the specified LAN.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"lanId","in":"path","description":"The unique ID of the LAN.","required":true,"type":"string"},{"in":"body","name":"nic","description":"The NIC to be attached.","required":true,"schema":{"$ref":"#/definitions/Nic"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Nic"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansNicsPost"}},"/datacenters/{datacenterId}/lans/{lanId}/nics/{nicId}":{"get":{"tags":["LANs"],"summary":"Retrieve attached NICs","description":"Retrieve the properties of the NIC, attached to the specified LAN.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"lanId","in":"path","description":"The unique ID of the LAN.","required":true,"type":"string"},{"name":"nicId","in":"path","description":"The unique ID of the NIC.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Nic"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansNicsFindById"}},"/datacenters/{datacenterId}/lans/enable-ipv6":{"post":{"tags":["LANs"],"summary":"Enable IPv6 in the current Virtual Datacenter","description":"Enable IPv6 for all NICs in the current Virtual Datacenter.","consumes":[],"produces":[],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersLansEnableIpv6"}},"/datacenters/{datacenterId}/servers/{serverId}/nics":{"get":{"tags":["Network interfaces"],"summary":"List NICs","description":"List all NICs, attached to the specified server.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Nics"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersNicsGet"},"post":{"tags":["Network interfaces"],"summary":"Create a NIC","description":"Adds a NIC to the specified server. The combined total of NICs and attached volumes cannot exceed 24 per server.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"in":"body","name":"nic","description":"The NIC to create.","required":true,"schema":{"$ref":"#/definitions/Nic"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Nic"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersNicsPost"}},"/datacenters/{datacenterId}/servers/{serverId}/nics/{nicId}":{"get":{"tags":["Network interfaces"],"summary":"Retrieve NICs","description":"Retrieve the properties of the specified NIC.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"name":"nicId","in":"path","description":"The unique ID of the NIC.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Nic"},"headers":{"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersNicsFindById"},"put":{"tags":["Network interfaces"],"summary":"Modify NICs","description":"Modify the properties of the specified NIC.","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"name":"nicId","in":"path","description":"The unique ID of the NIC.","required":true,"type":"string"},{"in":"body","name":"nic","description":"The modified NIC","required":true,"schema":{"$ref":"#/definitions/NicPut"}},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Nic"},"headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst":{"type":"integer","format":"int32","description":"The maximum number of concurrent API requests allowed."},"X-RateLimit-Limit":{"type":"integer","format":"int32","description":"The average number of requests per minute allowed."},"X-RateLimit-Remaining":{"type":"integer","format":"int32","description":"The number of requests that can still be made without triggering a failure response."}}},"default":{"$ref":"#/responses/apiError"}},"security":[{"Basic Authentication":[]},{"Token Authentication":[]}],"operationId":"datacentersServersNicsPut"},"delete":{"tags":["Network interfaces"],"summary":"Delete NICs","description":"Remove the specified NIC.","consumes":["*/*"],"produces":["application/json"],"parameters":[{"name":"datacenterId","in":"path","description":"The unique ID of the data center.","required":true,"type":"string"},{"name":"serverId","in":"path","description":"The unique ID of the server.","required":true,"type":"string"},{"name":"nicId","in":"path","description":"The unique ID of the NIC.","required":true,"type":"string"},{"$ref":"#/parameters/pretty"},{"$ref":"#/parameters/depth"},{"$ref":"#/parameters/contractNumber"}],"responses":{"202":{"description":"Successful operation","headers":{"Location":{"type":"string","description":"Callback URL to poll async operation status.","pattern":"https://[apiBaseUri]/requests/[requestId]/status"},"X-RateLimit-Burst"
[...]
